// 瀑布流布局样式
.masonry-layout {
  .masonry-columns {
    display: flex;
    align-items: flex-start;
  }

  .masonry-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .masonry-item {
    margin-bottom: 0.75rem; // 默认间距
    break-inside: avoid;
  }
}
