.collections-page {
  height: 100vh;
  background-color: #f8f8f8;
  
  &.loading, &.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .empty {
    .empty-icon {
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
    }
    
    .empty-text {
      font-size: 16px;
      color: #999;
      margin-bottom: 20px;
    }
  }
  
  .collection-list {
    padding: 10px;
  }
  
  .loading-more, .no-more {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 14px;
    color: #999;
  }
}